<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="CompileTextures" value="true" />
        <add key="IgnorePng" value="true" />
        <add key="CompressOutput" value="false" />
        <add key="TargetProfile" value="HiDef" />
        <add key="InputDirectory" value="../Source" />
        <add key="IntermediateDirectory" value="default" />
        <add key="OutputDirectory" value="../" />
        <add key="CreateLogFile" value="false" />
        <add key="CloseImmediately" value="true" />
        <add key="WaitForInputOnError" value="true" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>